.InputPassword {
    position: relative;

    color: #D0C9D6;
}

.InputPassword-Input {
    min-width: 13rem;
    padding-right: 2rem;
}

.InputPassword-Icon {
    position: absolute;
    top: 1.13rem;
    left: 15.5rem;
}