.Button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 1rem;
  border: 0.13rem solid #6979f8;
  border-radius: 0.38rem;
  margin-top: 0.63rem;
  margin-left: 0.63rem;

  background-color: #6979f8;

  cursor: pointer;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.06rem;
  line-height: 1.38rem;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.Button_customType_ghost {
  background-color: transparent;
  color: #6979f8;
}

.Button_size_large {
  height: 3rem;
  min-width: 21.44rem;
}

.Button_size_small {
  height: 2.5rem;
  min-width: 11.25rem;

  font-size: 0.81rem;
  line-height: 1.13rem;
  text-transform: capitalize;
}

.Button-Icon {
  padding-right: 0.56rem;
}